.footer--global {
    background: $darkGrey;
    width: 100%;
    padding: 1rem;

    .footer__logo {
        display: block;
        margin: 0 auto;
        height: (50rem/16);
        padding: 0;
    }

    .social--container{
        margin: 0 auto;
        max-width: (243rem/16);
        text-align: center;

        .footer__social {
            display: flex;
            justify-content: center;
            margin: (6rem/16) 0 0 0;

            .social--icon {
                display: flex;
                align-items: center;

                svg {
                    padding: (3rem/16);
                    width: (30rem/16);
                    height: (30rem/16);
                }

                &:hover {
                    svg {
                        rect {
                            fill: $sitePrimary;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: $breakpointWide) {
            max-width: (700rem/16);
            text-align: left;


        }

    }

    .copyright--container {
        svg {
            margin: 0 auto;
        }


        .footer--copyright {
            text-align: center;
            font-size: (12rem/16);
            margin: (16rem/16) auto;
        }
    }

    @media screen and (min-width: $breakpointDesktop) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: (96rem/16) (48rem/16) (8rem/16);

        .footer__logo {
            margin: 0;
            padding: 0;
        }

        .social--container {
            .footer__social {
                justify-content: left;

                .social--icon {
                    .icon--tt {
                        padding: (3rem/16) (3rem/16) (3rem/16) 0;
                    }
                }
            }
        }

        .copyright--container {
            width: 100%;
            margin: (32rem/16) 0 0 0;
            position: relative;
            height: (55rem/16);



            .footer--copyright {
                position: absolute;
                bottom: (8rem/16);
                margin: 0;

            }

            .footer--btd {
                position: absolute;
                bottom: 0;
                right: 0;
            }



        }
    }
}
