.header--global {
    position: fixed;
    width: 100%;
    height: $headerHeight;
    top: 0;
    left: 0;
    z-index: 1000;
    .header__logo {

        // These style techniques are specific to SVGs
        // and will not render correctly if applied
        // to a raster <img>. The width & left calculation
        // will  also need to be adjusted when the client's
        // logo is placed.

        position: absolute;
        top: (5rem/16);
        //left: calc(50% - (93.2085rem/16)); // 50% - half the logo's width to center it
        transition: height .65s $sexyEase, transform .65s $sexyEase;
        svg {
            padding: (5rem/16);
            height: $headerHeight - (10rem/16);
            transition: padding .65s $sexyEase, height .65s $sexyEase, width .65s $sexyEase;
        }
    }

    &.js-desktop {
        .header__logo {
            left: (5rem/16);
        }
    }
}

.header--static {
    padding: 1rem 2rem;
    h1 {
        text-align: center;
    }
}

