.sidebar {
    max-width: (300rem/16);
    width: 100%;
    margin: 0 auto;
    padding: 0;
    @media screen and (min-width: $breakpointTablet) {
        width: (300rem/16);
        margin: 0;
    }
}
