@import 'grouping';
@import 'inputs';
@import 'headings';
@import 'links';
@import 'lists';
@import 'admin-bar';

*,
*:before,
*:after {
    box-sizing: border-box;
    word-wrap: break-word;
}

// 1. Set default font family.
// 2. Prevent iOS text size adjust after orientation change, without disabling user zoom.
html {
    font-family: $baseFont;         // 1
    -ms-text-size-adjust: 100%;     // 2
    -webkit-text-size-adjust: 100%; // 2
}

body {
    margin: 0;
    background: $bodyBGColor;
    color: $baseFontColor;
    font-family: $baseFont;
    font-size: $baseFontSize;
    font-weight: $baseFontWeight;
    line-height: $baseLineHeight;
}

// Viewport declarations --> https://developer.mozilla.org/en-US/docs/Web/CSS/@viewport
@-webkit-viewport {
    width: device-width;
    zoom: 1;
}

@-moz-viewport {
    width: device-width;
    zoom: 1;
}

@-ms-viewport {
    width: device-width;
    zoom: 1;
}

@-o-viewport {
    width: device-width;
    zoom: 1;
}

@viewport {
    width: device-width;
    zoom: 1;
}

// HTML5 display definitions
// ==========================================================================

// Correct `block` display not defined for any HTML5 element in IE 8/9.
// Correct `block` display not defined for `details` or `summary` in IE 10/11
// and Firefox.
// Correct `block` display not defined for `main` in IE 11.
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

// 1. Correct `inline-block` display not defined in IE 8/9.
// 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
audio,
canvas,
progress,
video {
    display: inline-block;    // 1
    vertical-align: baseline; // 2
}

// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
audio:not([controls]) {
    display: none;
    height: 0;
}

// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
[hidden],
template {
    display: none;
}


// Text-level semantics
// ==========================================================================

// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
abbr[title] {
    border-bottom: 1px dotted;
}

// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
b,
strong {
    font-weight: bold;
}

// Address styling not present in Safari and Chrome.
em,
i,
dfn {
    font-style: italic;
}

// Address styling not present in IE 8/9.
mark {
    background: #ff0;
    color: #000;
}

// Address inconsistent and variable font size in all browsers.
small {
    font-size: 80%;
}

// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

// Embedded content
// ==========================================================================

// Remove border when inside `a` element in IE 8/9/10.
img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: bottom;
}

// Correct overflow not hidden in IE 9/10/11.
svg:not(:root) {
    overflow: hidden;
}

// Tables
// ==========================================================================

// Remove most spacing between table cells.
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: $tableFontSize;
}

tr {
    &:nth-child(even) {
        th,
        td {
            background: $tableStripe;
        }
    }
}

td,
th {
    padding: $tableCellPadding;
}
