/**
 * Proper WordPress Admin Bar Support
 */
#wpadminbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
}

.admin-bar {
    .header--global {
        top: (46rem/16);
    }

    // This is a WordPress dictated breakpoint
    @media screen and (min-width: (783em/16)) {
        .header--global {
            top: (32rem/16);
        }
    }
}
