// Grouping content
// ==========================================================================

// Remove margin present everywhere but IE
figure {
    margin: 0;
    padding: 2rem 0;
}

// Contain overflow in all browsers.
pre {
    overflow: auto;
}

// Address odd `em`-unit font size rendering in all browsers.
code,
kbd,
pre,
samp {
    color: $codeColor;
    font-family: $codeFontFamily;
    font-size: $codeFontSize;
}

blockquote {
    margin: 2rem 0;
    padding: 2rem (100rem/16) 2rem 2rem;
    font-size: (20rem/16);
    font-style: italic;
    color: $sitePrimary;
    background: white;
    line-height: 1.5;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 0 (1rem/16) $sitePrimary;
    &:after {
        content: '"';
        color: $sitePrimary;
        position: absolute;
        top: 0;
        right: 0;
        font-size: (100rem/16);
        height: 100%;
        width: (70rem/16);
        text-align: left;
        line-height: 1.1;
    }
}

code {
    color: $white;
    padding: (2rem/16) (7rem/16) (4rem/16) (7rem/16);
    font-family: $secondaryFont;
    font-size: (16rem/16);
    display: inline-block;
    background: linear-gradient(45deg, $sitePrimary 0%, $darkerGrey 100%);
    border-radius: (3rem/16);
    line-height: 1.2;
}

p {
    margin: 1rem 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
