// Headings
// ==========================================================================

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.editor-post-title__input {
    font-family: $secondaryFont;
    font-weight: normal !important;
    text-transform: none !important;
    &.has-alt-font {
        font-family: $baseFont;
    }
}

h1,
.h1 {
    font-size: (30rem/16);
    line-height: 1.2;
    @media screen and (min-width: $breakpointSmallTablet) {
        font-size: (42rem/16);
    }
}

h2,
.h2 {
    line-height: 1.35;
    font-size: (27rem/16);
    @media screen and (min-width: $breakpointSmallTablet) {
        font-size: (30rem/16);
    }
}

h3,
.h3 {
    font-size: (24rem/16);
}

h4,
.h4 {
    font-size: (22rem/16);
}

h5,
.h5 {
    font-size: (18rem/16);
}
