button,
input,
optgroup,
select,
textarea {
    color: inherit; // 1
    font: inherit;  // 2
}

label {
    color: $labelColor;
    font-size: $labelFontSize;
    text-align: left;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="tel"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="password"],
select,
.textbox,
textarea {
    background: $lighterGrey;
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: (5rem/16) (10rem/16);
    color: $black;
    &:active,
    &:focus {
        outline: none;
    }

    &:hover,
    &:active,
    &:focus {
        box-shadow: inset 0 0 0 (2rem/16) $sitePrimary;
    }
}

select {
    max-width: none;
    color: $sitePrimary;
    text-transform: uppercase;
    font-size: (14rem/16);
    height: (38rem/16);
    font-weight: bold;
    padding: (5rem/16);
    cursor: pointer;
    //box-shadow: inset 0 0 0 (2rem/16) $sitePrimaryLight;
    &:hover,
    &:active,
    &:focus {
        outline: none;
        box-shadow: inset 0 0 0 (2rem/16) $sitePrimary;
    }

    option {
        text-align: center;
    }
}

textarea {
    display: block;
    resize: none;
    :-ms-input-placeholder {
        color: $midGrey;
        font-size: (12rem/16);
        font-style: normal;
        font-family: $baseFont;
    }
}

// These have to be separate
::-webkit-input-placeholder {
    color: $midGrey;
    font-size: (12rem/16);
    font-style: normal;
    font-family: $baseFont;
}

:-moz-placeholder {
    color: $midGrey;
    font-size: (12rem/16);
    font-style: normal;
    font-family: $baseFont;
}

::-moz-placeholder {
    color: $midGrey;
    font-size: (12rem/16);
    font-style: normal;
    font-family: $baseFont;
}

textarea{
    outline: none;
}
