/*--
    Theme Name: Ballistipax Custom WordPress Theme
    Author: Black Tie Digital Marketing
    Version: 0.0.3
    License: GPLv2
    License URI: http://www.gnu.org/licenses/gpl-2.0.html

    CSS Namespaces you might see in this theme:

    u-: Signify that this class is a Utility class.
        It has a very specific role (often providing
        only one declaration) and should not be bound
        onto or changed. It can be reused and is not
        tied to any specific piece of UI.

    is-, has-: Signify that the piece of UI in question
        is currently styled a certain way because of a state
        or condition. It tells us that the DOM currently has
        a temporary or optional style applied to it due to a
        certain state being invoked.

    js-: Signify that this piece of the DOM has some behaviour
        acting upon it, and that JavaScript binds onto it to provide
        that behaviour.

    l-: Layout. The main idea behind this one is promoting the
        separation of skin and structure. In other words,
        properties that affect the position of an element, or its
        children, should be abstracted into a layout class.

    o-: Objects are the smallest building blocks of a website.
        Consider them to be Lego blocks where you can copy-paste
        anywhere in your website. Usually used for <p>, <h*> and
        other tiny elements that need specification outside of their
        tag type.

    c-: If objects are the smallest build blocks, components are larger
        and contain other child elements. Think of forms, or common,
        content structures and groupings of elements.

--*/

/*
 * THE SITE STYLES ARE LOCATED IN css/styles.css
 */
