.collection__loop {
    h1 {
        margin: $headerHeight + 1rem 0 1rem 0;
        padding: 0 1rem;
        text-align: center;
        @media screen and (min-width: $breakpointTablet) {
            text-align: left;
            margin: $headerHeight + 1rem 0 0 0;
        }

        @media screen and (min-width: $breakpointWide) {
            padding: 0 1.5rem;
        }
    }
}

.collection__loop-inner {
    padding: 0 (8rem/16) 0 0;
    display: flex;
    flex-wrap: wrap;
    .product {
        width: 100%;
        margin: (8rem/16) 0 0 (8rem/16);
        background: $lighterGrey;
        figure {
            margin: 0;
            height: 0;
            position: relative;
            width: 100%;
            -webkit-box-flex: 2;
            flex-grow: 2;
            overflow: hidden;
            padding: 0 0 90vw 0;
            a {
                display: flex;
                align-items: center;
                img {
                    top: auto;
                    bottom: auto;
                    left: auto;
                    right: auto;
                    min-width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                    position: absolute;
                    display: block;
                }
            }
        }

        .product__info {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .product__title,
        .product__price {
            line-height: 1.3;
            margin: 0;
        }

        .product__title {
            font-size: (12rem/16);
            font-weight: normal;
        }

        .product__price {
            font-size: (14rem/16);
            font-weight: bold;
            max-width: (75rem/16);
            text-align: right;
        }

        @media screen and (min-width: $breakpointLargeMobile) {
            width: calc(50% - (8rem/16));
            .product__info {
                padding: (8rem/16);
            }

            figure {
                padding: 0 0 60vw 0;
            }
        }

        @media screen and (min-width: $breakpointSmallTablet) {
            margin: 1rem 0 0 1rem;
            width: calc(50% - 1rem);
            .product__info {
                padding: 1rem;
            }
        }

        @media screen and (min-width: $breakpointTablet) {
            width: calc(33.333333% - 1rem);

            figure {
                padding: 0 0 35vw 0;
            }
        }

        @media screen and (min-width: $breakpointDesktop) {
            width: calc(25% - 1rem);

            figure {
                padding: 0 0 25vw 0;
            }
        }

        @media screen and (min-width: $breakpointWide) {
            margin: 1.5rem 0 0 1.5rem;
            width: calc(25% - 1.5rem);
        }

        @media screen and (min-width: $breakpointSuperWide) {
            width: calc(20% - 1.5rem);
            figure {
                padding: 0 0 20vw 0;
            }
        }
    }

    .collections__pagination {
        margin: 2rem 0 2rem (8rem/16);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .page-numbers {
            line-height: 1;
            margin: 0 (3rem/16);
            padding: (10rem/16);
            background: $darkGrey;
            color: $white;
            text-decoration: none;
            box-shadow: inset 0 0 0 (2rem/16) $darkGrey;
            transition: color .15s $sexyEase, background .15s $sexyEase;
            &.dots {
                background: $midGrey !important;
                box-shadow: inset 0 0 0 (2rem/16) $midGrey !important;
                color: $white !important;
            }

            &:hover {
                background: none;
                color: $darkGrey;
            }

            &.current {
                color: $black;
                font-weight: bold;
                box-shadow: inset 0 0 0 (2rem/16) $sitePrimary;
                background: none;
            }
        }
    }

    @media screen and (min-width: $breakpointSmallTablet) {
        padding: 0 1rem 0 0;
        .collections__pagination {
            margin: 2rem 0 2rem 1rem;
        }
    }

    @media screen and (min-width: $breakpointWide) {
        padding: 0 1.5rem 0 0;
        .collections__pagination {
            margin: 2rem 0 2rem 1.5rem;
        }
    }
}
