#primary {
    background: $white;
}

.single-product {
    background-color: $white;

    .content-area {
        margin: 0 auto;
        max-width: $breakpointWide;
        padding: 0 .5rem;
    }

    .product__top {
        &:before, &:after {
            content: "";
            display: table;
            table-layout: fixed;
        }

        &:after {
            clear: both;
        }
    }

    .product__images {
        .product__images-inner {
            .owl-stage-outer {
                margin-bottom: (2rem/16);
            }
        }
    }

    div.product-type-simple {
        p.price {
            display: block;
            color: $black;
            font-size: 2rem;
            font-weight: bold;
            margin: .75rem 0 2rem;
            text-transform: uppercase;
            line-height: 1.2em;
        }
    }

    div.product-type-variable {
        p.price {
            color: $black;
            font-weight: bold;
            margin: .75rem 0 2rem;
        }

        .price-wrapper {
            margin: 1.25rem 0;

            .price--label {
                font-size: 1.25rem;
                font-weight: bold;
                line-height: (38rem/16); // to match height of price so they are centered
            }

            .price {
                display: block;
                color: $black;
                font-size: 2rem;
                text-transform: uppercase;
                line-height: 1.2em;
                font-weight: bold;
                float: right;
            }
        }
    }

    .sale.product-type-simple,
    .sale.product-type-variable {
        .price {
            color: $sitePrimary;

            del {
                color: $sitePrimary;
                opacity: 1;
                text-decoration: none;
                position: relative;
                font-weight: normal;

                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: (4rem/16);
                    background-color: $sitePrimary;
                    position: absolute;
                    top: 40%;
                }
            }

            ins {
                text-decoration: none;
            }
        }
    }

    .summary {
        .summary__inner {
            .product_title {
                font-size: 2rem;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 1.1em;
                margin-top: 0;
                margin-bottom: .5rem;
                text-align: left;
                text-transform: uppercase;
            }

            .woocommerce-product-details__short-description {
                border-top: 2px solid $sitePrimary;
                border-bottom: 2px solid $sitePrimary;
                color: $sitePrimary;
                font-size: .875rem;
                line-height: 1.3em;
                padding: 1rem 0;
                text-transform: initial;
            }

            //.stock {
            //    display: none;
            //}

            .cart {
                margin-bottom: 1rem;
            }

            label.label--variant {
                width: 0;
                height: 0;
                position: absolute;
                display: block;
                top: -1000px;
            }

            .variations {
                select {
                    background-color: $white;
                    height: 37px;
                    padding-left: .8125rem; // 13px
                    padding-right: .8125rem;
                    font-size: .75rem; // 12px
                    vertical-align: middle;
                    font-weight: 400;
                    text-transform: none;
                    color: $black;
                    border: 1px solid $sitePrimary;
                    border-radius: 0;
                    box-shadow: none;
                    box-sizing: border-box;
                    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.00);

                    &:hover {
                        border-color: $sitePrimary;
                    }

                    &:focus {
                        border-color: $sitePrimary;
                        border-radius: 2px;
                        box-shadow: 0 0 3px darken($sitePrimary, 30%);
                        outline: none;
                    }
                }

                .reset_variations {
                    text-align: right;
                    //display: block !important;
                    color: $black;
                    text-decoration: underline;
                    font-size: .6875rem;
                    letter-spacing: 1px;
                    display: none !important; // Disable reset/rebuild link
                }
            }

            .sku_wrapper {
                color: $sitePrimary;
                display: block;
                font-size: .8125rem;
                transition: opacity 150ms ease;
                margin-bottom: .5rem;
                text-transform: uppercase;

                .sku {
                    font-weight: bold;
                    color: $black;
                }

                &.sku--none {
                    opacity: 0;

                    .sku {
                        visibility: hidden; // Otherwise we see a flash of "N/A" just before the SKU fades out
                    }
                }
            }

            .posted_in {
                display: none;
            }
        }
    }

    .product__photos-details {
        margin-bottom: 2rem;
    }

    .cart {
        .quantity {
            float: none !important;
            display: block;
            width: 100%;
            margin: 0 0 1rem !important;

            label {
                height: auto;
                position: relative !important;
                display: block;
                width: auto;
                font-size: .75rem;
                font-weight: bold;
            }

            input {
                float: left;
                height: 28px;
                background-color: $sitePrimary;
                color: $white;
                font-size: .75rem;
                text-align: center;
            }

            .quantity-button {
                background-color: $sitePrimary;
                color: $white;
                cursor: pointer;
                display: block;
                float: left;
                font-size: .75rem;
                height: 28px;
                line-height: 28px;
                margin: 0;
                text-align: center;
                width: 28px;

                &.quantity-plus {
                    //background-color: $sitePrimary;
                }

                &:hover {
                    background-color: $sitePrimary;
                }
            }
        }

        .single_add_to_cart_button {
            background-color: $black !important;
            border-radius: 0;
            float: none !important;
            font-size: 1.25rem;
            font-weight: bold;
            padding: .75rem 2.5rem !important;
            letter-spacing: 0;
            transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
            width: auto;

            &:hover {
                background-color: $darkGrey !important;
            }
        }
    }
}

@media screen and (min-width: $breakpointTablet) {
    .single-product {
        .content-area {
            padding: 0 .75rem;
        }

        .summary {
            .summary__inner {
                .product_title {
                    font-size: 3rem;
                }
            }
        }

        .product__photos-details {
            width: 48%;
            float: left;
        }

        &.woocommerce div.product div.images {
            width: 100%;
            float: none;
        }

        &.woocommerce div.product div.summary {
            width: 48%;
            float: right;
        }

        .product__accordion {
            margin-top: 2rem;
            padding: 0;
        }
    }
}

@media screen and (min-width: $breakpointDesktop) {
    .single-product {
        .content-area {
            padding: 0 1rem;
        }

        .product__photos-details {
            width: 48%;
        }

        &.woocommerce div.product div.summary {
            width: 48%;
        }
    }
}
