.single-product {
    .owl-carousel {
        position: relative;
        overflow: hidden;

        .owl-nav {
            position: static;
            display: none;
        }

        .owl-prev, .owl-next {
            opacity: 0;
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            width: 105px;
            height: 105px;
            line-height: 105px;
            font-size: 16px;
            text-align: center;
            color: #111;
            z-index: 6;
            transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);

            i {
                position: relative;
                font-style: normal;

                svg {
                    height: 12px;

                    * {
                        fill: #939392;
                    }
                }
            }
        }

        .owl-prev:before, .owl-next:before {
            content: "";
            display: block;
            width: 66%;
            height: 66%;
            position: absolute;
            top: 17px;
            left: 0;
            background: #fff;
            border-radius: 2px;
            box-shadow: 0 0 (2rem/16) (1rem/16) rgba(0, 0, 0, 0.2);
            transform: rotate(45deg);
            transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        }

        .owl-next:before {
            left: auto;
            right: 0;
        }

        .owl-prev {
            left: -50px;
        }

        .owl-next {
            right: -50px;
        }

        &:hover {
            .owl-prev {
                opacity: 1;
                left: -35px;
            }

            .owl-next {
                opacity: 1;
                right: -35px;
            }
        }
    }

    .touch & {
        .owl-carousel {
            .owl-prev, .owl-next {
                display: none;
            }
        }
    }
}

.slider-container {
    position: relative;
    display: block;

    .slider {
        .content {
            a {
                display: block;
                height: 250px;
                width: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }

            img {
                visibility: hidden;
                height: 1px;
                width: 1px !important;
            }

            @media screen and (min-width: $breakpointSmallTablet) {
                a {
                    height: 350px;
                }
            }
            @media screen and (min-width: $breakpointTablet) {
                a {
                    height: 450px;
                }
            }
        }
    }

    .slider-controls {
        a {
            position: absolute;
            top: 45%;
            z-index: 100;
            color: $sitePrimary;

            &.slider-left {
                left: 0;
            }

            &.slider-right {
                right: 0;
            }

            @media screen and (min-width: (1350rem/16)) {
                &.slider-left {
                    left: -25px;
                }

                &.slider-right {
                    right: -25px;
                }
            }
        }
    }
}


.thumbnail-slider-container {
    margin-top: 5px;
}

.thumbnail-slider {
    .content {
        padding: 5px;
    }

    .owl-item.active.center {
        border: 2px solid $sitePrimary;
    }
}

.fancybox-toolbar,
.fancybox-navigation {
    button {
        &:active,
        &:focus,
        &:hover {
            background-color: rgba(30, 30, 30, .6);
            color: $white;
            box-shadow: none;
        }
    }
}

.admin-bar {
    .fancybox-thumbs,
    .fancybox-toolbar {
        top: 2.875;
        @media screen and (min-width: 782px) {
            top: 2rem;
        }
    }
}
