.wrapper--post {
    font-size: (16rem/16);
    background: $lighterGrey;
    .post {
        color: $black;
        .header--post {
            height: 40vw;
            max-height: (350rem/16);
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            margin: 0 auto;
            max-width: (1008rem/16);
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: (300rem/16);
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
                bottom: 0;
                left: 0;
            }

            figure {
                transform: translateY(-25%);
            }

            h1 {
                padding: 1rem;
                width: 100%;
                z-index: 2;
                color: $white;
                margin: 0 auto;
                position: absolute;
                left: 0;
                bottom: 0;
            }

            @media screen and (min-width: $breakpointSmallTablet) {
                h1 {
                    font-size: (30rem/16);
                }
            }

            @media screen and (min-width: $breakpointTablet) {
                h1 {
                    padding: 2rem;
                }
            }

            @media screen and (min-width: $breakpointDesktop) {
                height: (350rem/16);
            }
        }

        .post__inner {
            padding: 2rem;
            max-width: (1008rem/16);
            margin: 0 auto;
            background: $white;
        }
    }
}
