.post {
    figure {
        margin: 0;
        height: 0;
        flex-grow: 2;
        overflow: hidden;
        padding: 0 0 55% 0;
        background: $black;
        a {
            display: block;
            img {
                top: auto;
                bottom: auto;
                left: auto;
                right: auto;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                position: absolute;
                display: block;
            }
        }
    }
}
