.wrapper--feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: $headerHeight;
    background: $lightestGrey;
    padding: 1rem;
    .sidebar {
        order: 1;
    }

    .header--page {
        width: 100%;
        .header__title {
            color: $darkerGrey;
            text-align: center;
            padding: 0 0 1rem 0;
        }
    }

    @media screen and (min-width: $breakpointSmallTablet) {
        padding: 1rem 0 1rem 1rem;
    }

    @media screen and (min-width: $breakpointDesktop) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;
        .sidebar {
            order: 0;
            margin: 0;
        }
    }

    @media screen and (min-width: $breakpointWide) {
        padding: 1rem;
    }
}

.wrapper__inner {
    margin: 0 auto;
    width: 100%;
    max-width: (1200rem/16);
    .post--blog {
        position: relative;
        background: $white;
        margin: 0 0 1rem 0;
        transition: box-shadow .45s $sexyEase;
        &:last-of-type {
            margin: 0;
        }

        &:hover {
            box-shadow: 0 0 (10rem/16) (2rem/16) rgba(0,0,0,0.05);
        }

        figure {
            transition: opacity .25s ease-in-out;
            transform: translateY(0);
            &:hover {
                opacity: 0.7;
            }
        }

        .post__date {
            position: absolute;
            text-transform: uppercase;
            top: (8rem/16);
            right: (8rem/16);
            font-size: (12rem/16);
            background: rgba(0,0,0,0.4);
            margin: 0;
            padding: (2rem/16) (12rem/16);
            color: rgba(255,255,255,0.7);
            span {

            }
        }

        .post__categories {
            margin: 0;
            font-size: (12rem/16);
            box-shadow: 0 (1rem/16) 0 0 rgba(0,0,0,0.07);
            padding: (9rem/16) (14rem/16) (4rem/16) (14rem/16);
            color: #404040;
            a {
                font-size: (10rem/16);
                background: $sitePrimary;
                color: $black;
                margin: 0 (2rem/16) (5rem/16) 0;
                display: inline-block;
                letter-spacing: (1rem/16);
                text-decoration: none;
                white-space: nowrap;
                padding: (3rem/16) (5rem/16) (1rem/16) (5rem/16);
                transition: background .15s $sexyEase, color .15s $sexyEase;
                box-shadow: inset 0 0 0 (1rem/16) $sitePrimary;
                border-radius: (2rem/16);
                &:hover {
                    background: none;
                    color: $darkerGrey;
                }

                &:first-of-type {
                    margin-left: (3rem/16);
                }
            }
        }

        .post__title {
            line-height: .9;
            padding: 1rem (14rem/16);
            a {
                color: $darkerGrey;
                text-decoration: none;
                font-size: (22rem/16);
            }
        }
    }

    @media screen and (min-width: $breakpointSmallTablet) {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        padding: 0;
        .post--blog {
            width: calc(50% - 1rem);
            margin: 0 1rem 1rem 0;
        }
    }

    @media screen and (min-width: $breakpointTablet) {
        .post--blog {
            width: calc(33.333333% - 1rem);
            &:first-child,
            &:nth-child(2) {
                width: calc(50% - 1rem);
            }

            &:last-of-type {
                margin: 0 1rem 1rem 0;
            }
        }
    }

    @media screen and (min-width: $breakpointDesktop) {
        width: calc(100% - (300rem/16));
        margin: 0;
    }
}
