.post__pagination {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .page-numbers {
        line-height: 1;
        margin: 0 (3rem/16);
        padding: (10rem/16);
        background: $sitePrimary;
        color: $darkerGrey;
        text-decoration: none;
        box-shadow: inset 0 0 0 (2rem/16) $sitePrimary;
        transition: color .15s $sexyEase, background .15s $sexyEase;
        &:hover {
            background: none;
            color: $sitePrimary;
        }

        &.current {
            color: $midGrey;
            box-shadow: inset 0 0 0 (2rem/16) $midGrey;
            background: none;
        }

        &.dots {
            background: none;
            color: $sitePrimary;
            cursor: default;
        }
    }
}
