.menu {
    ul,
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            a {
                display: block;
                text-decoration: none;
            }
        }
    }
}
