.menu--aux {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 (55rem/16) 0 0;

  .icon {
    height: $headerHeight;
    display: flex;
    align-items: center;

    svg {
      height: (20rem/16);
    }

    &:hover {
      svg {
        * {
          fill: $sitePrimary;
        }
      }
    }
  }

  &.js-desktop {
    margin: (5rem/16);

  }
}