
.menu--container {
    display: flex;
    flex-direction: column;
    max-width: (224rem/16);
    margin: (32rem/16) auto;

    .menu--footer {
        border-left: solid;
        margin: 1rem 0;
        .menu__inner {
            max-width: (300rem/16);
            margin: 0 0 0 (10rem/16);
            li {
                a {
                    color: $white;
                    padding: (10rem/16);

                    &:hover {
                        border-bottom: (1rem/16) solid $sitePrimary;
                        color: $lighterGrey;
                    }
                }
            }
        }
    }


    @media screen and (min-width: $breakpointDesktop) {
        flex-direction: row;
        max-width: (600rem/16);
        margin: 0 auto;

        .menu--1 {
            margin: 0 3rem 0 1rem;
        }

        .menu--2 {
            margin: 0 1rem 0 0;
        }
    }
}
