.menu--main {
    opacity: 0;
    position: absolute;
    right: 0;
    li {
        a {
            color: $white;
            font-size: (14rem/16);
            &:hover {
                color: $sitePrimary;
            }
        }
    }

    &.js-desktop,
    &.js-mobile {
        opacity: 1;
    }

    &.js-desktop {
        right: (150rem/16); // The width of the aux menu
        top: (4rem/16);
        height: $headerHeight;
        ul {
            display: flex;
        }

        li {
            display: inline;
            a {
                padding: (18rem/16) (10rem/16);
            }
        }
    }

    &.js-mobile {
        top: $headerHeight;
        height: 120vh;
        background: $white;
        border-top: rgba(0,0,0,0.1) solid (1rem/16);
        border-left: rgba(0,0,0,0.1) solid (1rem/16);
        right: -100%;
        transition: transform .375s $sexyEase;
        width: 100%;
        .menu__inner {
            li {
                a {
                    padding: (10rem/16);
                    border-bottom: rgba(0, 0, 0, 0.1) solid (1rem/16);
                }
            }
        }

        &.js-active {
            transform: translateX(-100%);
        }

        @media screen and (min-width: $breakpointLargeMobile) {
            width: (350rem/16);
            right: (-350rem/16);
            &.js-active {
                transform: translateX((-350rem/16));
            }
        }
    }
}
