// Utilities
@import 'defaults/variables';

// This applies all our theme styles to EVERY
// block, so that even ones not built
// by black tie will have more accurate
// editor previews to the front-end result.

.wp-block {
    max-width: none;
    font-family: $baseFont;
    @import 'defaults/utility';
    @import 'defaults/reset/forms';
    @import 'defaults/reset/grouping';
    @import 'defaults/reset/headings';
    @import 'defaults/reset/links';
    @import 'defaults/reset/lists';
    @import 'defaults/reset/inputs';
    @import 'buttons/_';
    @import 'external/gravity-forms';
}

div.wp-block {
    &.block-editor-block-list__block {
        margin-top: 0;
        margin-bottom: 0;
    }
}
