.o-button,
.gform_footer input[type=submit] {
    display: table;
    height: auto;
    padding: (16rem/16) (50rem/16);
    overflow: visible;
    background: none;
    border: none;
    color: $black;
    font-family: $baseFont;
    text-decoration: none;
    box-shadow: inset 0 0 0 (1.5rem/16) $black;
    font-size: (16rem/16);
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    transition: background .17s ease-in-out, box-shadow .17s ease-in-out, color .17s ease-in-out;
    position: relative;
    margin: 0 auto;
    svg {
        * {
            fill: $black;
        }
    }

    &:active,
    &:focus {
        outline: none;
    }

    &:visited {
        color: $white;
    }

    &:hover,
    &:focus,
    &.has-alt-mode {
        background: $black;
        color: $white;
        text-decoration: none;
        svg {
            * {
                fill: $white;
            }
        }
    }

    &.has-alt-mode {
        &:hover,
        &:focus {
            background: none;
            color: $black;
            svg {
                * {
                    fill: $black;
                }
            }
        }
    }
}
