// Opens/closes the main menu
.o-button--burger {
    top: 0;
    right: 0;
    width: $headerHeight;
    height: $headerHeight;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: 0;
    z-index: 2;
    text-indent: -9999px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    transition: background .125s, opacity .125s $sexyEase, transform .4s cubic-bezier(.56,.15,.16,1) .1s;
    opacity: 1;
    margin: 0 0 0 (3rem/16);
    position: absolute;
    display: table;
    overflow: visible;
    &.js-desktop {
        display: none;
    }

    span {
        display: block;
        position: absolute;
        top: calc(50% - (1rem/16));
        right: calc(50% - (10rem/16));
        width: (20rem/16);
        height: (2rem/16);
        background: $white;
        transition: transform .125s $sexyEase, background .115s $sexyEase;
        &:before,
        &:after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: (2rem/16);
            background: $white;
            content: "";

        }

        &:before {
            top: (6rem/16);
            transition: transform .125s $sexyEase, background .115s $sexyEase, top .125s $sexyEase;
        }

        &:after {
            bottom: (6rem/16);
            transition: transform .125s $sexyEase, background .115s $sexyEase, bottom .125s $sexyEase;
        }
    }

    &:focus,
    &:hover{
        outline: none;
        border: none;
        background: none;
        box-shadow: none;
    }

    &:hover {
        span {
            background: $sitePrimary;
            &:before,
            &:after {
                background: $sitePrimary;
            }
        }
    }

    &.js-mobile {
        display: inherit;
    }

    &.js-active {
        background: none;
        span {
            background: rgba(0,0,0,0.0);
            &:before,
            &:after {
                background: $sitePrimary;
            }

            &:before {
                top: 0;
                transform: rotate(45deg);
            }

            &:after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}
