/**
These classes are often assigned to <a> elements
that link to a post taxonomy, like a category or a tag.
In index.php, under <!-- Post Categories -->, you can
see this in use.
 */

.term {
    display: inline-block;
    padding: (3rem/16) (10rem/16);
    text-decoration: none;
    box-shadow: inset 0 0 0 (1rem/16) rgba(255,255,255,0.6);
    color: $white;
    margin: 0 (5rem/16) (3rem/16) 0;
    font-weight: 700;
    font-size: (12rem/16);
    transition: box-shadow .2s $sexyEase, color .2s $sexyEase, background .2s $sexyEase;
    &:hover {
        box-shadow: inset 0 0 0 (1rem/16) $sitePrimary;
        color: $sitePrimary;
    }

    &.term--label {
        padding: (3rem/16) 0;
        box-shadow: none;
    }
}
