.wrapper {
    margin: 0 auto;
    width: 100%;
    background: $white;
    min-height: $headerHeight;
    &.wrapper--page {
        & > .wp-block--btd {
            &:first-child {
                .block__inner {
                    margin-top: $headerHeight;
                    .block__inner {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
