body.login {
    background: $lightestGrey;
    #login {
        h1 {
            display: none;
        }

        .message,
        #login_error {
            padding: 1rem 1.5rem;
            font-size: (14rem/16);
        }

        .message {
            border-left-color: $siteOkay;
        }

        #login_error {
            border-left-color: $siteError;
        }

        form {
            .forgetmenot {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input {
                color: $sitePrimary;
                box-shadow: none;
                border: none;
                border-radius: 0;
                &:hover,
                &:active,
                &:focus,
                &[type=checkbox] {
                    box-shadow: inset 0 0 0 (1rem/16) $lightGrey;
                }

                &[type=submit] {
                    border-radius: (3rem/16);
                    color: $white;
                    background: $sitePrimary;
                    box-shadow: inset 0 0 0 (2rem/16) $sitePrimary;
                    transition: background .175s $sexyEase, color .175s $sexyEase;
                    &:hover,
                    &:active,
                    &:focus {
                        color: $sitePrimary;
                        background: none;
                    }
                }
            }
        }
    }
}
