.wrapper--404 {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: $headerHeight;
    h2,
    p {
        text-align: center;
    }

    p,
    form {
        max-width: (350rem/16);
    }

    .icon--404 {
        height: (80rem/16);
        width: (80rem/16);
    }

    h2 {
        margin: 1rem 0 (8rem/16);
        font-size: (30rem/16);
    }

    p {
        margin: 0 0 (12rem/16) 0;
        font-size: (12rem/16);
        line-height: 1.4;
    }

    a {
        margin: 1rem 0 0 0;
    }

    @media screen and (min-width: $breakpointSmallTablet) {
        padding: 4rem 2rem;
    }
}
