// Primary
.has-btd-primary-color {
    color: $sitePrimary;
}
.has-btd-primary-background-color {
    background: $sitePrimary;
}

// Darkest Grey
.has-btd-darkest-grey-color {
    color: $darkestGrey;
}
.has-btd-darkest-grey-background-color {
    background: $darkestGrey;
}

// Darker Grey
.has-btd-darker-grey-color {
    color: $darkerGrey;
}
.has-btd-darker-grey-background-color {
    background: $darkerGrey;
}

// Dark Grey
.has-btd-dark-grey-color {
    color: $darkGrey;
}
.has-btd-dark-grey-background-color {
    background: $darkGrey;
}

// Mid Grey
.has-btd-mid-grey-color {
    color: $midGrey;
}
.has-btd-mid-grey-background-color {
    background: $midGrey;
}

// Light Grey
.has-btd-light-grey-color {
    color: $lightGrey;
}
.has-btd-light-grey-background-color {
    background: $lightGrey;
}

// Lighter Grey
.has-btd-lighter-grey-color {
    color: $lighterGrey;
}
.has-btd-lighter-grey-background-color {
    background: $lighterGrey;
}

// Lightest Grey
.has-btd-lightest-grey-color {
    color: $lightestGrey;
}
.has-btd-lightest-grey-background-color {
    background: $lightestGrey;
}

// White
.has-btd-white-color {
    color: $white;
}
.has-btd-white-background-color {
    background: $white;
}

// Black
.has-btd-black-color {
    color: $black;
}
.has-btd-black-background-color {
    background: $black;
}
