// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----

// Breakpoints
$breakpointLargeMobile: 25em; 	    // 400px
$breakpointSmallTablet: 36.5em; 	// 584px
$breakpointTablet: 47.5em;			// 760px
$breakpointDesktop: 63em;			// 1008px
$breakpointWide: 79.5em;		    // 1272px
$breakpointSuperWide: 115em;		// 1840px
$breakpointFinal: 133.25em;         // 1920px

// Header
$headerHeight: (60rem/16);

// "Brand" Colors
$sitePrimary: #6d6d6d;


// Utility Colors
$siteError: #b70a0a;
$siteWarning: #d1a80a;
$siteOkay: #378c4a;

// Greys
$siteMidGrey: #303036;
$black: #000;
$darkestGrey: #101010;
$darkerGrey: #202020;
$darkGrey: #404040;
$midGrey: #808080;
$lightGrey: #bfbfbf;
$lighterGrey: #e6e6e6;
$lightestGrey: #f0f0f0;
$white: #fff;

// Root
$bodyBGColor: $white;
$bodyFontSize: 100%;
$columnMargin: .5em;
$gutter: 1em;
$warningColor: #f00;

// Typography
$baseFont: 'Rajdhani', sans-serif;
$baseFontColor: $white;
$baseFontSize: 100%;
$baseFontWeight: 400;
$baseLineHeight: 1.75;
$codeFont: $baseFont;

// Secondary Font
$secondaryFont: $baseFont;

// Links
$linkColor: $sitePrimary;
$linkHover: darken($linkColor, 5%);
$linkVisited: darken($linkColor, 10%);
$linkActive: darken($linkColor, 15%);
$linkWeight: bold;

// Labels
$labelFontSize: (14rem/16);
$labelColor: $baseFontColor;

// Tables
$tableCellPadding: .25rem;
$tableStripe: $lighterGrey;
$tableFontSize: (14rem/16);

// Blockquotes
$blockquoteMarginBottom: (14rem/16);
$blockquotePaddingLeft: 0;
$blockquoteBorderWidth: 0;
$blockquoteBorderStyle: solid;
$blockquoteBorderColor: $lighterGrey;
$blockquoteColor: $midGrey;
$blockquoteFontFamily: $baseFont;
$blockquoteFontSize: 1.25rem;
$blockquoteFontStyle: italic;
$blockquoteFontWeight: 200;

// Code/Pre blocks
$codeFontFamily: $codeFont;
$codeFontSize: (14rem/16);
$codeColor: $baseFontColor;

// Transition Easing
$sexyEase: cubic-bezier(.56,.15,.16,1);
