// Widgets are components that are used on
// a WordPress sidebar. The widgets in this
// theme, however, are placed manually with
// php instead of exposing them to the editor
// (Appearance > Widgets). This is because, like
// menus, these items seem to get scrambled easily
// when information is transferred using Migrate
// DB Pro. It's of little significance, as widgets
// are not often re-arranged after a site launch,
// so having them placed manually is perfectly fine.
.widget {
    width: 100%;
    padding: 0 0 2rem 0;
    &:last-child {
        padding: 0;
    }
    h2 {
        font-size: (27rem/16);
        text-transform: none;
    }
}
