.widget--pop-posts {
    h2 {
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin-left: 0;
        li {
            margin-bottom: (8rem/16);
            font-family: $secondaryFont;
            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $darkGrey;
                display: block;
                padding: 1rem;
                text-decoration: none;
                background: $white;
                transition: box-shadow .15s ease-in-out, transform .2s ease-in-out;
                &:hover {
                    box-shadow: inset 0 0 0 (2rem/16) rgba(0,0,0,0.2);
                    transform: translateY((-5rem/16));
                    color: $black;
                }
            }
        }
    }
}
