.widget--search {
    max-width: (400rem/16);
    position: relative;
    display: flex;

    input[type=search] {
        width: calc(100% - (38rem/16));
        &:hover,
        &:focus,
        &:active {
            box-shadow: inset 0 0 (10rem/16) rgba(0,0,0,0.1);
        }
    }

    button {
        width: (38rem/16);
        position: absolute;
        z-index: 1;
        height: (38rem/16);
        padding: 0;
        top: 0;
        right: 0;
        margin: 0;
        display: block;
        background: $white;
        svg {
            height: (38rem/16);
            padding: (10rem/16);
        }

        &:hover {
            background: $black;
            padding: 0;
        }
    }
}
